* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

/* Navbar */
.nav-bar{
    width: 100vw;
    height: 9vh;
    grid-template-columns: 5% 27% 45% 23%;
}
.nav-logo {
    height: 90%;
    width: auto;
    grid-column: 1/2;
}
.nav-logo img {
    border-radius: 50%;
    border: none;
}
.nav-icon {
    height: 90%;
    width: 10vmin;
    justify-self: end;
}
.nav-icon button {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: transparent;
    color: white;
    background-color: #1F1F1F;
    font-size: 3vmin;
}
.nav-search-bar {
    height: 90%;
    width: 100%;
    justify-content: start;
}
.nav-search-bar button {
    height: auto;
    width: auto;
    border: transparent;
    background-color: #1F1F1F;
}
.search-bar-btn {
    height: 80%;
    width: 8%;
    background-color: #1F1F1F;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.nav-search-bar i {
    color: #b3b3b3;
    font-size: 4vmin;
}
.search-bar-search {
    height: 80%;
    width: 70%;
    background-color: #1F1F1F;
    grid-template-columns: 90% 10%;
}
.search-bar-search input {
    justify-self: start;
    background-color: #1F1F1F;
    height: 80%;
    width: 80%;
    border: transparent;
    font-size: 3vmin;
    color: #b3b3b3;
    outline: none;
}
.search-bar-hr {
    height: 60%;
    width: 1px;
    background-color: grey;
    justify-self: center;
}
.search-bar-browse {
    height: 80%;
    width: 8%;
    background-color: #1F1F1F;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
.search-bar-browse i {
    font-size: 4vmin;
}

/* Main */
main {
    width: 100vw;
    height: 81vh;
    grid-template-columns: 25% 75%;
}
.left {
    grid-column: 1/2;
    width: 99%;
    height: 80vh;
    background-color: #121212;
    border-radius: 10px;
}
.left-header {
    grid-template-columns: 45% 35% 20%;
    height: 10%;
    width: 98%;
}
.left-header span {
    font-size: 2.5vmin;
    font-weight: 700;
    color: white;
    grid-column: 1/2;
    justify-self: start;
    padding-left: 5px;
}
.left-header button {
    height: 80%;
    width: auto;
    font-size: 4vmin;
    grid-column: 3/4;
    background-color: #121212;
    color: white;
    border: none;
    justify-self: end;
}
.left-content {
    height: 90%;
    width: 100%;
    overflow-y: auto;
}
.left-top-bar {
    grid-template-columns: 20% 50% 30%;
    height: 7%;
    width: auto;
    margin-bottom: 1vmin;
}
.top-bar-search-icon {
    height: 80%;
    width: auto;
    font-size: 3vmin;
    background-color: #121212;
    color: #b3b3b3;
    border: none;
}
.left-sorting {
    grid-column: 3/4;
    background-color: #121212;
    color: #b3b3b3;
    border: none;
    font-size: 2vmin;
}
.left-playlist-section {
    height: 93%;
    width: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2vmin;
}
.left-playlist {
    height: 18%;
    width: 98%;
    font-size: 2vmin;
    background-color: #121212;
    color: #b3b3b3;
    grid-template-columns: 28% 72%;
    border: none;
}
.left-playlist:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.05);
}
.left-playlist:hover > .playlist-icon-container {
    background-color: #121212;
}
.playlist-icon-container {
    height: 8vmin;
    width: 8vmin;
    grid-column: 1/2;
    font-size: 4vmin;
    background-color: #1F1F1F;
    border-radius: 5px;
}
.left-playlist span {
    justify-self: start;
    font-weight: 700;
    color: white;
}

/* Right */
.right {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 99%;
    height: 80vh;
    background-color: #121212;
    border-radius: 8px;
    grid-template-rows: 10% 90%;
}
.right-header {
    grid-row: 1/2;
    color: white;
    font-size: 3vmin;
    font-weight: 600;
    grid-template-columns: 5% 95%;
}
.right-header span {
    grid-column: 2/3;
}
.right-content {
    grid-row: 2/3;
    padding: 3vmin;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vmin;
}
.card {
    height: 30vmin;
    width: 25vmin;
    flex-wrap: wrap;
    gap: 1vmin;
    padding-top: 2vmin;
    position: relative;
}
.card:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
.card-image {
    height: 65%;
    width: 90%;
}
.card-image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.card-disc {
    height: 20%;
    width: 90%;
    color: #b3b3b3;
    font-size: 3vmin;
    font-weight: 500;
}
.play-icon {
    background-color: transparent;
    height: 25%;
    width: 25%;
    position: absolute;
    top: 25%;
    right: 40%;
    opacity: 0;
    transition: all 0.3s ease;
}
.play-icon button {
    height: 90%;
    width: 90%;
    border-radius: 50%;
    border: transparent;
    background-color: black;
    color: white;
    font-size: 2.2vmin;
    transition: all 0.2s ease;
}
.card:hover .play-icon {
    opacity: 1;
}
.play-icon button:hover {
    cursor: pointer;
    transform: scale(1.2);
}

/* Playlist */
.playlist-container {
    background-color: #121212;
    z-index: 1000;
    grid-column: 2/3;
    grid-row: 1/2;
    width: 99%;
    height: 80vh;
    border-radius: 8px;
    grid-template-rows: 45% 55%;
}
.playlist-header {
    grid-row: 1/2;
    height: 100%;
    width: 100%;
    grid-template-columns: 25% 75%;
    grid-template-rows: 100%;
    border-bottom: 0.1px solid black;
}
.playlist-header-pfp {
    grid-row: 1/2;
    grid-column: 1/2;
    height: 100%;
    width: 100%;
}
.playlist-header-pfp img {
    height: 90%;
    width: 90%;
}
.playlist-header-title {
    grid-row: 1/2;
    grid-column: 2/3;
    height: 100%;
    width: 100%;
    font-size: 7vmin;
    color: #b3b3b3;
    font-weight: 700;
}
.playlist-song-section {
    grid-row: 2/3;
    flex-direction: column;
    flex-wrap: nowrap;
}
.song-section-topbar {
    height: 50%;
    grid-template-rows: 60% 40%;
}
.song-section-topbar-r1 {
    grid-row: 1/2;
    grid-template-columns: 12% 10% 10% 48% 20%;
}
.song-play-container {
    grid-column: 1/2;
}
.song-play-container button {
    height: 60%;
    width: 60%;
    background-color: #1ED760;
    font-size: 4vmin;
}
.topbar-add-library {
    grid-column: 2/3;
    background-color: green;
}
.topbar-menu-container {
    grid-column: 3/4;
    background-color: yellow;
}
.song-section-sort {
    grid-column: 5/6;
    background-color: green;
}
.song-section-topbar-r2 {
    grid-row: 2/3;
    background-color: blue;
}
.song-section-hr {
    height: 1px;
    width: 90%;
    background-color: #b3b3b3;
}
.song-container {
    height: 50%;
}

/* Footer */
footer {
    height: 10vh;
    width: 100vw;
}
.music-player {
    height: 10vh;
    width: 100vw;
    background-color: black;
}
